<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--small">
    <h1 class="slds-text-heading--large">
      Welcome to this random app page
    </h1>
    <p class="slds-text-body--regular slds-m-vertical--large">Here I am just randomly <a href="https://www.salesforce.com/">making something to show</a>, brought to you by <a href="https://github.com/Code4Bananas">Matt Macaspac</a>.</p>

    <img src="/assets/img-efficiency.svg" alt="" />

    <h2 class="slds-text-heading--medium slds-m-top--large">How this was done?</h2>
    <p class="slds-text-body--regular slds-m-top--large"> Cloned certain files from <a href="https://github.com/salesforce-ux/design-system-starter-kit/tree/master/src">this</a> to start building the prototype here.</p>
    <hr />
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
